* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(140, 140, 218);
}

input:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: aliceblue;
}

.c-anotacoes {
  width: 450px;
  height: 100vh;
  background-color: white;
  position: absolute;
  box-shadow: 5px 0 10px rgb(112, 112, 182);
}

.c-dias {
  display: flex;
  justify-content: space-evenly;
}

.titulo-anotacoes {
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  color: rgb(31, 30, 30);
  margin-top: 10px;
}

.anotacoes {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 236, 236);
  color: rgb(31, 30, 30);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-family: monospace;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s;
}

.anotacoes:hover {
  cursor: pointer;
  background-color: rgb(207, 206, 206);
}

.c-tarefas-dia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-tarefa {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 236, 236);
  width: 420px;
  height: 50px;
  font-size: 20px;
}

.c-main {
  width: 100%;
  height: 100vh;
  background-color: rgb(140, 140, 218);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.c-tarefa {
  margin-top: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.titulo-tarefa {
  font-size: 50px;
  letter-spacing: 1px;
}

.input-tarefa {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  background-color: rgb(61, 61, 131);
  color: aliceblue;
}

.tarefa {
  text-align: center;
  font-size: 18px;
  border-radius: 21px;
  background-color: rgb(61, 61, 131);
  color: aliceblue;
  padding: 10px;
  margin-top: 10px;
}

.tarefa:hover {
  cursor: pointer;
}

.tarefa-conluida {
  opacity: 0.5;
  text-decoration: line-through;
  background-color: black;
}

.dia-selecionado {
  background-color: rgb(182, 179, 179);
}
